<div class="footer">
<!--<i class="far fa-lightbulb"></i>-->
<p>Renaissance VIT Chennai, Address, pincode</p>
<div class="links">
  <a target="_blank" href="https://www.facebook.com/renaissancevit/"><i class="fab fa-facebook-f"></i></a>
  <a target="_blank" href="https://twitter.com/renaissancevit"><i class="fab fa-twitter"></i></a>
  <a target="_blank" href="https://www.instagram.com/renaissancevit"><i class="fab fa-instagram"></i></a>
  <!-- <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
</div>
<p>For Sponsorship, contact <span class="text-primary"><a href="mailto:sponsorship.renaissance@vit.ac.in?Subject=Sponsorship%20">sponsorship.renaissance@vit.ac.in</a></span></p>
<p>For Partnership, contact <span class="text-primary"><a href="mailto:partners.renaissance@vit.ac.in?Subject=Partnership%20">parterns.renaissance@vit.ac.in</a></span></p>
<p>For Queries, contact <span class="text-primary"><a href="mailto:queries.renaisssance@vit.ac.in?Subject=Query%20">queries.renaissance@vit.ac.in</a></span></p>
</div>