<div class="footer">
<i class="far fa-lightbulb"></i>
<p>Renaissance VIT Chennai, Address, pincode</p>
<div class="links">
  <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <!-- <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
</div>
<p>For sponsorship, contact <span class="text-primary">email@email.com</span></p>
</div>