<nav class="navbar navbar-expand-md fixed-top navbar-light navbar-fixed-top shadow">
	<div class="container">
		<a class="navbar-brand" href="/"><i class="far fa-lightbulb"></i> <span>Renaissance</span></a>


		<button class="navbar-toggler" id="navbar-toggle-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<!-- <li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact Us</a>
						</li> -->
				<li class="nav-item">
					<a href="/#about" class="nav-link">About</a>
				</li>
				<li class="nav-item">
					<a href="/#competition" class="nav-link">Competition</a>
				</li>
				<li class="nav-item">
					<a href="/#events" class="nav-link">Events</a>
				</li>
				<li class="nav-item">
					<a href="/#contact" class="nav-link">Contact</a>
				</li>
				<li class="nav-item">
					<a href="/sponsors" class="nav-link">Sponsors</a>
				</li>

				<li class="nav-item">
					<a href="http://renaissancevit.myways.in" class="nav-link">Internships</a>
				</li>
				<% if(!currentUser){ %>
				<li class="nav-item">
					<a href="/login" class="nav-link">Login</a>
				</li>
				<li class="nav-item">
					<a href="/user/register" class="nav-link">Register</a>
				</li>
				<% }else{ %>
				<li class="nav-item">
					<a href="/user" class="nav-link text-primary">
						<%=currentUser.username %></a>
				</li>
				<li class="nav-item">
					<a href="/logout" class="nav-link text-primary">Logout</a>
				</li>
				<% }; %>

			</ul>
		</div>

	</div>
</nav>
