<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
		<div class="container">
			<a class="navbar-brand" href="/"><i class="far fa-lightbulb"></i> Renaissance</a>

			
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<!-- <li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact Us</a>
						</li> -->
						<!-- <% if(!currentUser){ %>
							<li class="nav-item">
								<a href="/login" class="nav-link text-primary">Login</a>
							</li>
							<li class="nav-item">
								<a href="/register" class="nav-link text-primary">Register</a>
							</li>
						<% }else{ %>
							<li class="nav-item">
								<a href="/logout" class="nav-link text-primary">Logout</a>
							</li>
						<% }; %> -->
						<li class="nav-item">
							<a href="#" class="nav-link text-primary">About</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-primary">Events</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-primary">Companies</a>
						</li>
					</ul>
				</div>
			
		</div>
	</nav>