	<div class="aboutClass">
		<div class="container">
			<div class="row">
				<!-- About VIT Chennai -->
				<div class="col-md-12 info-card">
					<div class="row">
						<div class="col-sm-3 card-logo border-alter-round">
							<h1>About VIT Chennai</h1>
						</div>
						<div class="col-sm-9">
							<p class="card-text">
								Ranked as the no.1 Private Engineering Institute by MHRD, Govt. Of India (NIRF-2018 Ranking), VIT was founded in the year 1984 by the visionary Dr. G. Vishwanathan. 
								Since then it has witnessed a meteoric rise and set an ambitious growth rate. It is a globally engaged, competitive research- enriched campus, strategically located 
								in a city that is one of the biggest automotive and IT hubs in India. It's towering presence in technical and management education, infrastructure that meets global 
								standards and digitalization is manifested by the scholastic faculties who are a cynosure in the academic realm.
							</p>
						</div>
					</div>
					</div>
				<!-- About Renaissance -->
				<div class="col-md-12 info-card">
					<div class="row">
						
						<div class="col-sm-9">
							<p class="card-text">
								Renaissance is an initiative to form a community of like-minded people in VIT Chennai in order to encourage and
								support startups. The focus of our efforts is aimed at providing a platform for the growing entrepreneurial
								mindset within students. We hope to establish an ecosystem by which the students, as well as the entrepreneurs,
								will benefit, a wonderful networking opportunity for the young aspiring minds to interact with the experienced
								hands of the industry.
							</p>
						</div>
						<div class="col-sm-3 card-logo border-alter-round">
							<h1>About Renaissance</h1>
						</div>
					</div>
				</div>

				<!-- Vision of Renaissance -->
				<div class="col-md-12 info-card">
					<div class="row">
							<div class="col-sm-3 card-logo border-alter-round-alt">
									<h1>Vision of Renaissance</h1>
								</div>
														<div class="col-sm-9">
							<p class="card-text">
								Jan 2019 brings to you the most awaited and acknowledged fest of VIT Chennai.
								Collating, the success of the fest last year, we present to you , the second edition of Renaissance.
								Last year had witnessed applauded concepts, engrossed participants and driven minds with innovation.
								The three day fest will involve innovation tycoons interacting with innumerable minds intertwined through
								engaging events to manifest the theme of Encorporating startup ecosystem and providing a platform for budding
								startups.

							</p>
						</div>

						
					</div>
				</div>
			</div>
		</div>
	</div>