

<div id="loading-page">
	<!-- START PRELOADER -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- END PRELOADER -->
	<!-- Return to Top -->
	<a href="javascript:" id="return-to-top"><span class="fa fa-arrow-up" aria-hidden="true"></span></a>
	<!-- navigation -->
	<!-- start Fixed navbar -->

	<!-- end navigation -->
	<!-- intro header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<!-- start typer hello  -->
						<div class="brand-heading">
							<span class="txt-rotate" data-period="100" data-rotate='[ "Leaders,", "Entrepreneurs,", "Start Up,", "Renaissance!"]'></span>
						</div>
						<!-- end typer hello -->
						<p class="intro-text">Welcome to Renaissance
							<br> The biggest <span class="fa fa-superpowers" aria-hidden="true"></span> <span class="city">Entrepreneurial fest</span>
							<span class="fa fa-superpowers" aria-hidden="true"></span>
							<br>in VIT Chennai</p>
						<!-- start mouse wrap -->

						<!-- end mouse wrap -->
					</div>
					<!-- end column wrapping -->
				</div>
				<!-- end row header -->
			</div>
			<!-- end container header -->
		</div>
		<!-- end intro body -->
	</header>
	<!-- end intro header -->
	<div id="mouse-here"></div>
	<!-- only for mouse to fall before the start of the section -->
	<!-- start about me -->

	<!-- end footer -->
</div>
