<div class="contact">
		<figure class="picture">
			<img src="images/p1.jpg" />
			<figcaption>
				<h3>shatakshi Sinha <b>Operations</b></h3>
				<div class="icons">
					<p class="text-muted">9087001875</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture hover"><img src="images/p1.jpg" />
			<figcaption>
				<h3>Sakshi Singh <b>Partnership</b></h3>
				<div class="icons">
					<p class="text-muted">7550182341</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture"><img src="images/p1.jpg" />
			<figcaption>
				<h3>Rahul Jaiswal <b>Sponsorship</b></h3>
				<div class="icons">
					<p class='text-muted'>7550170557</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture"><img src="images/p1.jpg" />
			<figcaption>
				<h3>Hema Sai Sri Tummala <b>Marketing</b></h3>
				<div class="icons">
					<p class="text-muted">7550170286</p>
				</div>
			</figcaption>
		</figure>
	</div>