<div class="contact">
		<h1 class="headin">Conatct us</h1>
		<figure class="picture">
			<img src="images/Shatakshi1.jpg" />
			<figcaption>
				<h3>Shatakshi Sinha <b>Operations</b></h3>
				<div class="icons">
					<p class="text-muted">+91 _id:90870 01875</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture hover"><img src="images/Sakshi.jpg" />
			<figcaption>
				<h3>Sakshi Singh <b>Partnership</b></h3>
				<div class="icons">
					<p class="text-muted">+91 75501 82341</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture"><img src="images/rahul1.jpeg" />
			<figcaption>
				<h3>Rahul Jaiswal <b>Sponsorship</b></h3>
				<div class="icons">
					<p class='text-muted'>+91 75501 70557</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture"><img src="images/heam1.jpg" />
			<figcaption>
				<h3>Hema Tummala <b>Marketing</b></h3>
				<div class="icons">
					<p class="text-muted">+91 75501 70286</p>
				</div>
			</figcaption>
		</figure>
	</div>