<div class="mentorContainer">
	<div class="container">
		<h2 class="heading">Our Mentors and Investors!</h2>
	</div>
	<div class="grid">

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/BbKoe0.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Ravikant Tiwary</span></h2>
					<p>Trade Commissioner (Ontario)</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/iwIVjy.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Rajiv Indimath</span></h2>
					<p>Co-Founder <br /> High Performance Sports Coaching in Stealth Mode </p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/anil-pic-500x500-300x300.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Anil Chikara</span></h2>
					<p class="mentor-description">Chairman <br /> Startup India Foundation</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/rahul-1.png" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Rahul Narvekar</span></h2>
					<p>CEO <br /> Sun and Sands Advisors Co. Ltd. </p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/m2QfPc.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Saurabh Kaushik</span></h2>
					<p>TFounder, CEO <br /> PEOPLEIST INDIA</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/BSuWps.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Devesh Chawla</span></h2>
					<p>Founder and CEO <br /> Chatur Ideas
				</div>
				</p>
			</figcaption>
		</figure>
	</div>

	<div class="grid">

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/4QW3uT.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Rohit Bhagwat</span></h2>
					<p>Founder - CEO<br>RidgeCrest Strategy Consulting</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/OmsmcW.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Krishnakumar Devnally </span></h2>
					<p>Advisor<br />Chatur Ideas </p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/anil-pic-500x500-300x300.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Anil Chikara</span></h2>
					<p>Chairman <br /> Startup India Foundation</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/79WAcd.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Kunal Bhat</span></h2>
					<p>Head of Innovation & Technology Council and X Lab (Mumbai)</p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/ravindra.jpeg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Ravindra Chawla</span></h2>
					<p>Professor<br>New Delhi Institute of Management </p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/46fa5e308cb1bec0d638474e93703f5b.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Yukti Mehandiratta</span></h2>
					<p>Founder & Chief Experientialist Officer<br>Concept Exhibitions </p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/uXSeVS.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Bhavesh Kothari</span></h2>
					<p>Chief Business Officer<br>Tapaswi Group Ventures ( & NAMAN Angels) </p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/EjD2OJ.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Sandeep Sehgal</span></h2>
					<p>CEO<br>Tivre Business Solutions Pvt. Ltd</p>
				</div>
			</figcaption>
		</figure>

		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> T R Giridhar </span></h2>
					<p>Partner at Just Bespoke Advisory LLP</p>
				</div>
			</figcaption>
		</figure> -->
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vAmTCm.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Murtuza Haryanawalla</span></h2>
					<p>Products, Venture Partner<br>Strtup.net </p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/lDSeNN.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Himanshu Agal</span></h2>
					<p>Co Founder at Easemint Advisory Services LLP</p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/TCeJgR.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Amit Agarwal</span></h2>
					<p>Founder<br>OckyPocky</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/nhmwM3.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Girdharee Saran</span></h2>
					<p>Head of Sales and Marketing<br>iZenBridge Consultancy Private Limited </p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/kTxBLA.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Vipul Mehta</span></h2>
					<p>CEO<br>Tipping Point (www.tipping.pt)</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/2s7y4c16-5.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Satish Kataria</span></h2>
					<p>Co-founder & CEO<br>Catapoolt</p>
				</div>
			</figcaption>
		</figure>
	</div>
</div>