<div class="mentorContainer">
	<div class="container">
		<h2 class="heading">Our Investors!</h2>
	</div>
	<div class="grid">

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/BbKoe0.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Ravikant Tiwary</span></h2>
					<p>Trade Commissioner (Ontario)</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/iwIVjy.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Rajiv Indimath</span></h2>
					<p>Founding Partner<br /> InCa Growth Partners LLP </p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/0.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Rahul Ranjan</span></h2>
					<p>In-Market Representative <br>South Australia</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/0 (1).jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Amit Mehra</span></h2>
					<p>Vice Chairman<br>Unicorn India </p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/0 (2).jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Jasim Shaikh </span></h2>
					<p>Digital Innovations<br>HDFC Bank</p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/anil-pic-500x500-300x300.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Anil Chikara</span></h2>
					<p class="mentor-description">Chairman <br /> Startup India Foundation</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/rahul-1.png" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Rahul Narvekar</span></h2>
					<p>CEO <br /> Sun and Sands Advisors Co. Ltd. </p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/m2QfPc.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Saurabh Kaushik</span></h2>
					<p>Founder, CEO <br /> PEOPLEIST INDIA</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/BSuWps.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Devesh Chawla</span></h2>
					<p>Founder and CEO <br /> Chatur Ideas
				</div>
				</p>
			</figcaption>
		</figure>
	</div>
</div>


<div class="mentorContainer">
	<div class="container">
		<h2 class="heading">Our Mentors!</h2>
	</div>


	<div class="grid">

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/4QW3uT.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Rohit Bhagwat</span></h2>
					<p>Founder<br>RidgeCrest Strategy Consulting</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/0 (3).jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Rohit Lalwani</span></h2>
					<p>Entrepreneur, Startup Enthusiast and Academician</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/2s7y4c16-5.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Satish Kataria</span></h2>
					<p>Co-founder & CEO<br>Catapoolt</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/OmsmcW.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Krishnakumar Devnally </span></h2>
					<p>Director<br />Empower Solutions</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/79WAcd.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Kunal Bhat</span></h2>
					<p>Tech Mahindra</p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/ravindra.jpeg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Ravindra Chawla</span></h2>
					<p>Professor<br>New Delhi Institute of Management </p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/46fa5e308cb1bec0d638474e93703f5b.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Yukti Mehandiratta</span></h2>
					<p>Silhouette by Yukti</p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/uXSeVS.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Bhavesh Kothari</span></h2>
					<p>Chief Business Officer<br>Tapaswi Group Ventures ( & NAMAN Angels) </p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/EjD2OJ.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Sandeep Sehgal</span></h2>
					<p>CEO<br>Tivre Business Solutions Pvt. Ltd</p>
				</div>
			</figcaption>
		</figure>

		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> T R Giridhar </span></h2>
					<p>Partner at Just Bespoke Advisory LLP</p>
				</div>
			</figcaption>
		</figure> -->
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vAmTCm.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Murtuza Haryanawalla</span></h2>
					<p>CEO<br>Strtup.net </p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/lDSeNN.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Himanshu Agal</span></h2>
					<p>Co Founder <br> Easemint Advisory Services LLP</p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/TCeJgR.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Amit Agarwal</span></h2>
					<p>Founder<br>OckyPocky</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/nhmwM3.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Girdharee Saran</span></h2>
					<p>Head of Sales and Marketing<br>iZenBridge Consultancy Private Limited </p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/kTxBLA.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Vipul Mehta</span></h2>
					<p>Founder & CEO<br>Tipping Point (www.tipping.pt)</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vikram.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Vikram Srivastava</span></h2>
					<p>Founder & CEO<br>Career Hawk</p>
				</div>
			</figcaption>
		</figure>
	</div>
</div>


<div class="mentorContainer">
	<div class="container">
		<h2 class="heading">Our Speakers!</h2>
	</div>


	<div class="grid">

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/speakers/srikanth meenakshi 1.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Srikanth Meenakshi</span></h2>
					<p>Founder & COO<br> FundsIndia.com</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/speakers/sri charan.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Sri Charan Lakkaraju</span></h2>
					<p>Founder<br>stuMagz</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/speakers/Sadiya.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Sadiya Naseem</span></h2>
					<p>Founder<br>Glamstudios.in</p>
				</div>
			</figcaption>
		</figure>
		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/speakers/sarathbabu elumalai.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Sarathbau Elumalai </span></h2>
					<p>CEO<br />Foodking</p>
				</div>
			</figcaption>
		</figure>
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/speakers/ArunaScwarz.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Aruna Schwarz</span></h2>
					<p>CEO & Founder<br>Stelae Technologies</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vikram.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Badrinath Sridharan</span></h2>
					<p>President<br>TiE Chennai</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/46fa5e308cb1bec0d638474e93703f5b.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Madhu Saran</span></h2>
					<p>Owner STC Technologies</p>
				</div>
			</figcaption>
		</figure> -->

		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/uXSeVS.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> V. Shankar</span></h2>
					<p>President, TiE Chennai<br>Director, Acsys Investments</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/EjD2OJ.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Sairee Chahal</span></h2>
					<p>Founder & CEO<br>Sheroes</p>
				</div>
			</figcaption>
		</figure> -->

		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> T R Giridhar </span></h2>
					<p>Partner at Just Bespoke Advisory LLP</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vAmTCm.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Lakshmi Pratury</span></h2>
					<p>Founder & CEO<br>INK Talks </p>
				</div>
			</figcaption>
		</figure> -->

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/speakers/Siddharth.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Siddharth Dialani</span></h2>
					<p>Founder <br>LeanCrop Technology Solutions Pvt. Ltd</p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/speakers/Paras Pundir.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Paras Pundir
					</span></h2>
					<p>Founder & Community Builder<br>Community Folks</p>
				</div>
			</figcaption>
		</figure>

		<figure class="effect-apollo">
			<img class="mentor-image" src="/images/speakers/Umasanker Kandaswamy.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Umasanker Kandaswamy</span></h2>
					<p>COO & Joint Director<br>Bruhat Insights Global</p>
				</div>
			</figcaption>
		</figure>

		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/TCeJgR.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Chinmay Agarwal</span></h2>
					<p>Co-founder<br>Jugnoo</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/nhmwM3.jpg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Ajey Nagar</span></h2>
					<p>CEO & Co-founder<br>Carry Minati </p>
				</div>
			</figcaption>
		</figure> -->

		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/kTxBLA.jpg" alt="img18" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span> Kunal Bahl</span></h2>
					<p>Founder & CEO<br>Snapdeal</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vikram.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Geeta Manjunath</span></h2>
					<p>CEO & Co-founder<br>Niramai senior IEEE Member</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vikram.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Ridhi Mittal</span></h2>
					<p>Co-founder<br>Finomena</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vikram.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Divyank Turakhia</span></h2>
					<p>Founder & CEO<br> Media.net</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vikram.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Apoorv Sharma</span></h2>
					<p>Co-founder<br>Venture Catalysts</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vikram.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Tanmay Bhat</span></h2>
					<p>Co-founder<br>AIB</p>
				</div>
			</figcaption>
		</figure> -->
		<!-- <figure class="effect-apollo">
			<img class="mentor-image" src="/images/mentors/vikram.jpeg" alt="img22" />
			<figcaption>
				<div class="figcaption-text">
					<h2 class="mentor-name"><span>Somdutta S</span></h2>
					<p>Co-Trustee & Director<br>Center for Entrepreneurial Excellence (CEE)</p>
				</div>
			</figcaption>
		</figure> -->
	</div>
</div>