<div class="statsClass">
		<div class="row">
			<div class="col-lg-4 firstSection section">
				<div class="container">
					<p>8000<br><span>Participants</span></p>
				</div>
			</div>
			<div class="col-lg-4 secondSection section">
				<div class="container">
					<p>50+<br><span>Companies</span></p>
				</div>
			</div>
			<div class="col-lg-4 thirdSection section">
				<div class="container">
					<p>100+<br><span>Startups</span></p>
				</div>
			</div>
		</div>
</div>