
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc9.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc9.ttf) format('truetype');
  }
  

  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* -- Demo style ------------------------------- */
  html,
  body {
    position: relative;
    min-height: 100%;
    height: 100%;
  }
  html {
    position: relative;
    overflow-x: hidden;
    margin: 16px;
    padding: 0;
    min-height: 100%;
    font-size: 62.5%;
  }
  body {
    font-family:  'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  #demo {
    margin: 20px auto;
    max-width: 960px;
  }
  #demo h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0;
    font-weight: 300;
    color: #212121;
    text-transform: inherit;
    margin-bottom: 1rem;
    text-align: center;
  }
  #demo h2 {
    font-size: 1.5rem;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    font-weight: 400;
    color: #212121;
    text-align: center;
  }
  
  .shadow-z-1 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }
  /* -- Material Design Table style -------------- */
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
  }
  
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .table > thead > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
  }
  
  .table-hover > tbody > tr:hover > td,
  .table-hover > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.12);
  }
  @media screen and (max-width: 768px) {
    .table-responsive-vertical > .table {
      margin-bottom: 0;
      background-color: transparent;
    }
    .table-responsive-vertical > .table > thead,
    .table-responsive-vertical > .table > tfoot {
      display: none;
    }
    
    .table-responsive-vertical > .table > tbody > tr {
      display: block;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      margin-bottom: 1.6rem;
    }
    .table-responsive-vertical > .table > tbody > tr > td {
      background-color: #fff;
      display: block;
      vertical-align: middle;
      text-align: right;
    }
    .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: inherit;
      font-weight: 400;
      color: #757575;
    }
    
    .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
      border: none;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    }
    .table-responsive-vertical > .table-bordered {
      border: 0;
    }
    
    }
    .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
      border-bottom: 0;
    }
    /*  */
    /*  */
    .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  

  
  
  