@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  background-image: url("");
}

body .hidden {
  display: none;
}

body .abs-hidden-l-t {
  position: absolute;
  top: 0;
  left: 0;
  visibility: shown;
}

body .content-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 4% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media screen and (max-width: 959px) {
  body .content-wrapper .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  body .content-wrapper .content .content-form {
    max-width: 400px;
    margin: 0 24px;
  }
}

body .content-wrapper .content .form {
  padding: 24px;
  padding-bottom: 70px;
  margin-right: 16px;
  min-width: 400px;
}

body .content-wrapper .content .form .form-title {
  font-size: 42px;
  margin-bottom: 16px;
}

body .content-wrapper .content .form input {
  padding: 4px 0 0 0;
  background: transparent;
  min-height: 40px;
  width: 100%;
  max-width: 350px;
  outline: none;
  font-size: 16px;
  margin: 4px 0;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body .content-wrapper .content .form input:focus {
  border-bottom: 2px solid rgba(24, 124, 190, 0.9);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

body .content-wrapper .content .content-profile {
  max-width: 350px;
  min-height: 450px;
  width: 100%;
  -webkit-box-shadow: 0 0 4px #b1b1b1;
          box-shadow: 0 0 4px #b1b1b1;
  background: #1D77AB;
  border-radius: 4px;
}

body .content-wrapper .content .content-profile .profile-head {
  max-height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8% 0 4% 0;
  background: #fff;
}

body .content-wrapper .content .content-profile .profile-head .profile-pic {
  margin-bottom: 8px;
}

body .content-wrapper .content .content-profile .profile-head .profile-pic img {
  height: 140px;
  width: 140px;
  border-radius: 5em;
  -webkit-box-shadow: 0 2px 4px #b1b1b1;
          box-shadow: 0 2px 4px #b1b1b1;
  -o-object-fit: cover;
     object-fit: cover;
}

body .content-wrapper .content .content-profile .profile-head .profile-name {
  font-size: 24px;
}

body .content-wrapper .content .content-profile .profile-head .profile-club {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-wrapper .content .content-profile .profile-info {
  padding: 16px;
  padding-bottom: 0;
  color: #fff;
}

body .content-wrapper .content .content-profile .profile-info .profile-skills {
  text-align: center;
  margin: 0 auto 4% auto;
}

body .content-wrapper .content .content-profile .profile-info .profile-about {
  height: 150px;
  margin: auto;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  padding: 8px;
  margin: 16px 0;
  line-height: 24px;
  text-align: center;
}

body .content-wrapper .content .content-profile .profile-info .profile-info-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .content-wrapper .content .content-profile .profile-footer {
  text-align: center;
  font-size: 14px;
  opacity: 0.4;
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  padding: 14px;
}

body .content-wrapper .content .content-profile .profile-footer i {
  position: relative;
  bottom: -3px;
  font-size: 14px;
}
/*# sourceMappingURL=edit_profile.css.map */