<!-- horizontal -->
<html>
    <head>
        <link rel="stylesheet" href="./styleEve.css">

    </head>
    <body>
<h4>Events this week</h4>
<div class="flip">
    <div class="front" style="background-image: )">
       <h1 class="text-shadow">climbing</hi>
    </div>
    <div class="back">
       <h2>Trekking club</h2>
       <p>Not only you have to pay but you also have to work hard. So save entropy save universe</p>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: )">
       <h1 class="text-shadow">Swimming</hi>
    </div>
    <div class="back">
       <h2>No club</h2>
       <p>Cannot be conducted in VIT ha ha made you click #clickbaitSuccessful </p>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: )">
       <h1 class="text-shadow">Dancepasito</hi>
    </div>
    <div class="back">
       <h2>Dance club</h2>
       <p>It's a good competition but overshadowed by Vishal and Shekhar</p>
    </div>
</div>

<br>
<br>

  
<h4>Events next week</h4>
<div class="flip ">
    <div class="front" style="background-image: )">
       <h1 class="text-shadow">climbing</hi>
    </div>
    <div class="back">
       <h2>Trekking Club</h2>
       <p>ot only you have to pay but you also have to work hard. So save entropy save universe</p>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: )">
       <h1 class="text-shadow">Swimming </hi>
    </div>
    <div class="back">
       <h2>No club</h2>
       <p>Cannot be conducted in VIT ha ha made you click #clickbaitSuccessful</p>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image:)">
       <h1 class="text-shadow">Dancepasito</hi>
    </div>
    <div class="back">
       <h2>Dance club</h2>
       <p>It's a good competition but overshadowed by Vishal and Shekhar</p>
    </div>
</div>
</body>
</html>