<!-- horizontal -->

<h4>Events th1s week</h4>
<div class="flip">
    <div class="front">
       <h1 class="text-shadow">climbing</h1>
    </div>
    <div class="back">
       <h2>Trekking club</h2>
       <p>Not only you have to pay but you also have to work hard. So save entropy save universe</p>
    </div>
</div>
<div class="flip">
    <div class="front">
       <h1 class="text-shadow">Swimming</h1>
    </div>
    <div class="back">
       <h2>No club</h2>
       <p>Cannot be conducted in VIT ha ha made you click #clickbaitSuccessful </p>
    </div>
</div>
<div class="flip">
    <div class="front"">
       <h1 class="text-shadow">Dancepasito</h1>
    </div>
    <div class="back">
       <h2>Dance club</h2>
       <p>It's a good competition but overshadowed by Vishal and Shekhar</p>
    </div>
</div>
