	<div class="seperation"></div>
	<div class="feedbackClass">
		<h1 class = "heading-feedback">Send us a message</h1>
		<div class="container">
			<form>
				<div class="row">
				<div class="col-sm-6">
					<input type="text" id="input-name" placeholder="Name">
					<input type="email" id="input-email" placeholder="Email address">
					<input type="text" id="input-subject" placeholder="Subject">
				</div>
				<div class="col-sm-6">
					<textarea name="message" type="text" id="input-message" placeholder="Message" rows="7"></textarea>
				</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<input type="submit" value="Submit" id="input-submit">	
					</div>
				</div>
			</form> 
		</div>
	</div>