<html>
    <link rel = "stylesheet" type="text/css" href = "/css/front_page.css">
    <script src = "/lib/jquery.min.js"></script>
    <body>
        <div class="draw -wave">Renessiance</div> 
        <div class="draw -wave">VIT Chennai</div>
        <div class="draw -wave -small">The festival is here</div>
        <div class="draw -small" delay="2.5">Ipsam distinctio?</div>
    </body>
    <script src = "/js/front_page.js"></script>
</html>