<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Renaissance</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/scrollbar.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/peoplestyle.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/stats.css" />
	<link rel="stylesheet" href="/css/mainEvents.css" />
	<link rel="stylesheet" href="/css/styleEve.css">

	<script src="lib/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>

</head>

<body>
	<!-- Navbar -->
	<% include partials/navbar %>

	<!-- Home -->
	<div class="home">
		<div class="container">
			<div class="heading">
				<!-- TODO: Add css so that Renaissance stays at center always and the bulb moves aside (position: absolute) -->
				<div class="mainLogo"><img src="/images/mainLogo.png" /></div>
				<p class="text-dark"><strong><em>Sculpting Entrepreneurs!</em></strong></p>
				<!-- <div class="row">
					<div class="text-center mx-auto">
						<div class="col-md-12 btn-group">
							<% if(!currentUser){ %>
							<a href="/login" class="btn btn-sm btn-outline-primary">Sign in</a>
							<a href="/register" class="btn btn-sm btn-outline-primary">Sign up</a>
							<% } else { %>
							<a href="/logout" class="btn btn-sm btn-outline-primary">Logout
								<%=currentUser.username%></a>
							<% }; %>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<div class="seperation"></div>

	<!-- About -->
	<div class="aboutClass" id="about">
		<div class="container">
			<div class="row">
				<!-- About VIT Chennai -->
				<div class="col-md-12 info-card">
					<div class="row">
						<div class="col-sm-3 card-logo border-alter-round">
							<h1>About VIT Chennai</h1>
						</div>
						<div class="col-sm-9">
							<p class="card-text">
								Ranked as the no.1 Private Engineering Institute by MHRD, Govt. Of India (NIRF-2018 Ranking), VIT was founded in the year 1984 by the visionary Dr. G. Vishwanathan. 
								Since then it has witnessed a meteoric rise and set an ambitious growth rate. It is a globally engaged, competitive research- enriched campus, strategically located 
								in a city that is one of the biggest automotive and IT hubs in India. It’s towering presence in technical and management education, infrastructure that meets global 
								standards and digitalization is manifested by the scholastic faculties who are a cynosure in the academic realm.
							</p>
						</div>
					</div>
					</div>
				<!-- About Renaissance -->
				<div class="col-md-12 info-card">
					<div class="row">
						<div class="col-sm-3 card-logo border-alter-round">
							<h1>About Renaissance</h1>
						</div>
						<div class="col-sm-9">
							<p class="card-text">
								Jan 2019 brings to you the most awaited and acknowledged fest of VIT Chennai.
								Collating, the success of the fest last year, we present to you , the second edition of Renaissance.
								Last year had witnessed applauded concepts, engrossed participants and driven minds with innovation.
								The three day fest will involve innovation tycoons interacting with innumerable minds intertwined through
								engaging events to manifest the theme of “Encorporating startup ecosystem and providing a platform for budding
								startups”

							</p>
						</div>
					</div>
				</div>

				<!-- Vision of Renaissance -->
				<div class="col-md-12 info-card">
					<div class="row">
						<div class="col-sm-9">
							<p class="card-text">
								Renaissance is an initiative to form a community of like-minded people in VIT Chennai in order to encourage and
								support startups. The focus of our efforts is aimed at providing a platform for the growing entrepreneurial
								mindset within students. We hope to establish an ecosystem by which the students, as well as the entrepreneurs,
								will benefit, a wonderful networking opportunity for the young aspiring minds to interact with the experienced
								hands of the industry.
							</p>
						</div>
						<div class="col-sm-3 card-logo border-alter-round-alt">
							<h1>Vision of Renaissance</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="seperation"></div>
	<!-- Stats -->
	<div class="statsClass">
		<div class="row">
			<div class="col-lg-4 firstSection section">
				<div class="container">
					<p>8000<br><span>Students</span></p>
				</div>
			</div>
			<div class="col-lg-4 secondSection section">
				<div class="container">
					<p>7<br><span>Investors</span></p>
				</div>
			</div>
			<div class="col-lg-4 thirdSection section">
				<div class="container">
					<p>10<br><span>Startups</span></p>
				</div>
			</div>
		</div>


	</div>
	<!-- Main Events -->
	<div class="seperation" id="events"></div>
	<div class="events">
		<div class="container">
			<h1>Events</h1>
			<% include eventname %>
		</div>
	</div>

	<!-- Pre Events -->
	<!-- <div class="seperation"></div>
	<div class="preEvents">
		<div class="container">
			<% //include event %>
		</div>
	</div>

	<div class="seperation"></div> -->
	<!-- <div class = "people">
	<div class = "margin-setter">
	<div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="/images/p1.jpg" class="image--cover" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
		<div class="card">
		  <img class="card-img-top" src="/images/p1.jpg" class="image--cover" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
		<div class="card">
		  <img class="card-img-top" src="/images/p1.jpg" class="image--cover" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
	  </div>
	</div> -->
	</div>
	<!-- 	
	<div class="people">
		<div class="wrapper">

			<img src="/images/p1.jpg" class="image--cover">

			<img src="/images/p2.jpg" alt="" class="image--cover" />

			<img src="/images/p3.jpg" alt="" class="image--cover" />

			<img src="/images/p3.jpg" alt="" class="image--cover" />
		</div>
	</div>
	<div> -->

	<!-- 		
	<h1 class = "heading-feedback">Send us a message</h1>
	<form class="cf">
		<div class="half left cf">
			<input type="text" id="input-name" placeholder="Name">
			<input type="email" id="input-email" placeholder="Email address">
			<input type="text" id="input-subject" placeholder="Subject">
		</div>
		<div class="half right cf">
			<textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
		</div>
		<input type="submit" value="Submit" id="input-submit">
	</form> -->

	</div>


	</div>
	<div class="seperation"></div>
	<% include partials/footer %>

</body>

</html>

<!-- Add this into pre-events -->
<!--! Big Bang with Lean Six Sigma! -->
<!-- Lean Six Sigma Green Belt Certification is the most widely recognized and reputed certification across the globe in Operations Management.  Most of the critical Quality Management techniques used by big- shot companies to increase efficiency, speed and filter out waste and errors. Enrolling will give you the privilege of getting certified and trained by the renowned coach Mr. Naveen Yamani. A success vitamin which as a bundle provides unparalleled power management tool to the startups coming in. Get set with your ideas, tighten your seat belt and boost your dreams with us! -->