<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Renaissance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
  <script src="lib/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</head>

<body>
	<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Renaissance</a>

			<!-- <div class="ml-auto"> -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact Us</a>
						</li>
					</ul>
				</div>
			<!-- </div> -->
		</div>
	</nav>
	
	<!-- Home -->
	<div class="home">
	</div>

	<div class="seperation"></div>
	<!-- Features -->
	<div class="features">

	</div>
</body>

</html>