<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Renaissance</title>
	<meta name="google-site-verification" content="bcPE7I5x02j0ce8_qICY_EX6nOw5IE6bEpkWUbKuNE8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/scrollbar.css" />

	<link rel="stylesheet" type="text/css" media="screen" href="css/profilestyle.css" />

	<link rel="stylesheet" type="text/css" media="screen" href="css/feedback.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/footer.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/about.css" />

	<link rel="stylesheet" href="/css/mainEvents.css" />
	<link rel="stylesheet" href="/css/styleEve.css">

	<script src="lib/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>

</head>

<body>
	<!-- Navbar -->
	<% include partials/navbar %>

	<!-- Home -->
	<% include carousel %>

	<!-- About -->
	<div class="seperation"></div>
	<% include about %>

	<!-- Stats -->
	<div class="seperation"></div>
	<% include stats %>

	<!-- Main Events -->
	<div class="seperation" id="events"></div>
	<div class="events">
		<div class="container">
			<h1>Events</h1>
			<% include eventname %>
		</div>
	</div>

	<!-- Pre Events -->
	<!-- <div class="seperation"></div>
	<div class="preEvents">
		<div class="container">
			<% //include event %>
		</div>
	</div>

	<div class="seperation"></div> -->
	<!-- <div class = "people">
	<div class = "margin-setter">
	<div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="/images/p1.jpg" class="image--cover" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
		<div class="card">
		  <img class="card-img-top" src="/images/p1.jpg" class="image--cover" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
		<div class="card">
		  <img class="card-img-top" src="/images/p1.jpg" class="image--cover" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
	  </div>
	</div> -->

	</div>

	<div class="seperation"></div>

	<div class="contact">
		<figure class="picture">
			<img src="images/p1.jpg" />
			<figcaption>
				<h3>shatakshi Sinha <b>Operations</b></h3>
				<div class="icons">
					<p class="text-muted">9087001875</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture hover"><img src="images/p1.jpg" />
			<figcaption>
				<h3>Sakshi Singh <b>Partnership</b></h3>
				<div class="icons">
					<p class="text-muted">7550182341</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture"><img src="images/p1.jpg" />
			<figcaption>
				<h3>Rahul Jaiswal <b>Sponsorship</b></h3>
				<div class="icons">
					<p class='text-muted'>7550170557</p>
				</div>
			</figcaption>
		</figure>
		<figure class="picture"><img src="images/p1.jpg" />
			<figcaption>
				<h3>Andrew Garfield <b>Marketing</b></h3>
				<div class="icons">
					<p class="text-muted">987643214</p>
				</div>
			</figcaption>
		</figure>
	</div>
	<!-- Feedback form -->
	<div class="seperation"></div>
	<% include feedback %>



	<div class="seperation"></div>
	<% include partials/footer %>

</body>


</html>

<!-- Add this into pre-events -->
<!--! Big Bang with Lean Six Sigma! -->
<!-- Lean Six Sigma Green Belt Certification is the most widely recognized and reputed certification across the globe in Operations Management.  Most of the critical Quality Management techniques used by big- shot companies to increase efficiency, speed and filter out waste and errors. Enrolling will give you the privilege of getting certified and trained by the renowned coach Mr. Naveen Yamani. A success vitamin which as a bundle provides unparalleled power management tool to the startups coming in. Get set with your ideas, tighten your seat belt and boost your dreams with us! -->