<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Renaissance</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/scrollbar.css" />
	<script src="lib/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
</head>

<body>
	<!-- Navbar -->
	<% include partials/navbar %>

	<!-- Home -->
	<div class="home">
		<div class="container">
			<div class="heading">
				<!-- TODO: Add css so that Renaissance stays at center always and the bulb moves aside (position: absolute) -->
				<h1><i class="far fa-lightbulb"></i> Renaissance</h1>
				<p class="text-muted">Tagline about renaissance</p>
				<!-- <div class="row">
					<div class="text-center mx-auto">
						<div class="col-md-12 btn-group">
							<% if(!currentUser){ %>
							<a href="/login" class="btn btn-sm btn-outline-primary">Sign in</a>
							<a href="/register" class="btn btn-sm btn-outline-primary">Sign up</a>
							<% } else { %>
							<a href="/logout" class="btn btn-sm btn-outline-primary">Logout
								<%=currentUser.username%></a>
							<% }; %>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<div class="seperation"></div>
	<!-- About -->
	<div class="aboutClass" id="about">
		<div class="container">
			<div class="row">
				<!-- About Renaissance -->
				<div class="col-md-12 info-card">
					<div class="row">
						<div class="col-sm-3 card-logo">
							<h1>About Renaissance</h1>
						</div>
						<div class="col-sm-9">
							<p class="card-text">
								Consectetur in commodo minim sunt non incididunt officia reprehenderit aliqua duis magna in consequat nostrud.
								Nisi nulla esse eiusmod nulla anim commodo exercitation nulla tempor esse exercitation proident ad. Occaecat
								ullamco reprehenderit est mollit duis voluptate excepteur qui fugiat. Sit sit ullamco culpa aliqua aliquip
								tempor cillum esse esse. Lorem nisi excepteur laboris incididunt fugiat voluptate voluptate id quis ullamco
								mollit sunt. Mollit amet id adipisicing ea est ipsum. Aute amet anim aliquip id fugiat dolor culpa ea veniam
								proident incididunt.
							</p>
						</div>
					</div>
				</div>

				<!-- Vision of Renaissance -->
				<div class="col-md-12 info-card">
					<div class="row">
						<div class="col-sm-9">
							<p class="card-text">
								Nostrud in reprehenderit aliquip laboris mollit enim est incididunt eiusmod. Nostrud amet ut pariatur ut
								occaecat amet est est commodo aliqua nisi. Ut consequat fugiat in sunt tempor occaecat nulla minim exercitation
								sunt. Ut ad anim nostrud proident non nisi tempor mollit. Proident minim consectetur voluptate consectetur.
								Dolore excepteur occaecat consequat esse fugiat proident sint.
							</p>
						</div>
						<div class="col-sm-3 card-logo">
							<h1>Vision of Renaissance</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="seperation"></div>

	<div class="footer">
		<i class="far fa-lightbulb"></i>
		<p>Renaissance VIT Chennai, Address, pincode</p>
		<div class="links">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-linkedin-in"></i></a>
		</div>
		<p>For sponsorship, contact <span class="text-primary">email@email.com</span></p>
	</div>
</body>

</html>