<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Renaissance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
  <script src="lib/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</head>

<body>
	<!-- Navbar -->
  <% include partials/navbar %>
	
	<!-- Home -->
	<div class="home">
	</div>

	<div class="seperation"></div>
	<!-- Features -->
	<div class="features">

	</div>
</body>

</html>