<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Renaissance</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
  <script src="lib/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</head>

<body>
	<!-- Navbar -->
  <% include partials/navbar %>
	
	<!-- Home -->
	<div class="home">
		<div class="container">
			<div class="heading">
				<h1><i class="far fa-lightbulb"></i> Renaissance</h1>
				<p class="text-muted">Tagline about renaissance</p>
				<div class="row">
					<div class="col-md-12">
						<a href="/login" class="btn btn-sm btn-outline-primary">Login / Register</a>
					</div>
					<!-- <div class="col-md-6">
						<a href="/register" class="btn btn-sm btn-outline-primary">Register</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<div class="seperation"></div>
	<!-- Features -->
	<div class="features">

	</div>
</body>

</html>