<!-- TODO: Add form tag so that the form actually submits for company -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Renessiance Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/login_style.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/scrollbar.css" />

<body>
<% include partials/navbar %>
<div class="form-structor">
<!-- TODO: Change the classes to login -->
	<form class="signup" method="POST" action="/login">
		<% if(reference){ %>
			<input type="hidden" name="reference" value="<%=reference%>">
		<% } %>
 		<h2 class="form-title" id="signup"><span>or</span>Log in</h2>
		<div class="form-holder">
			<input type="text" class="input" placeholder="Username" name="username"/>
			<input type="password" class="input" placeholder="Password" name="password"/>
		</div>
		<button class="submit-btn" type="submit">Log in</button>
	</form>
	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Register</h2>
			<div class="form-holder">
				<form action="/user/register" method="GET">
					<!-- <input type="email" class="input" placeholder="Email" /> -->
					<!-- <input type="text" class="input" placeholder="Username" name="username" />
					<input type="password" class="input" placeholder="Password" name="password"/> -->
					<button type="submit" class="submit-btn">Register</button>
				</form>
			</div>
			
		</div>
	</div>
</div>

<script src = "/lib/jquery.min.js"></script>
<script src = "/js/login_script.js"></script>
<script src = "/js/bootstrap.js"></script>

</body>
</html>