<html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Renaissance | Partners</title>

	<script src="/lib/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/navbar.css" rel="stylesheet">
	<link href="/css/partners.css" rel="stylesheet">
	<link href="/css/scrollbar.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<% include partials/navbar %>
	<div class="container mt-4">
		<h1 class='text-center heading'>ORGANIZING TEAM</h1>
		<hr>
		<h1 class="sub-heading text-center">PATRON</h1>
		<div class="row">
			<div class="col">
				<div class="img-container mx-auto d-block"><img src="images/gv.png"></div>
				<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Dr. G. Vishwanathan<br>
					Chancellor</p>
			</div>
		</div>
		<h1 class="sub-heading text-center">CO-PATRONS</h1>
		<div class="row">
			<div class="col-12">
				<div class="img-container mx-auto d-block"><img src="images/gvs.jpg"></div>
				<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Shri. G. V. Selvam<br>
					Vice President</p>
			</div>
			<div class="col-12">
				<div class="img-container mx-auto d-block"><img src="images/provc.jpeg"></div>
				<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Dr. N Sambandam<br>
					Pro Vice Chancellor</p>
			</div>
		</div>
		<h1 class="sub-heading text-center">Faculty Advisor</h1>
		<div class="row">
			<div class="col">
				<div class="img-container mx-auto d-block"><img src="images/fac.jpeg"></div>
				<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Dr. Jagadeesh Kannan R<br>
					Faculty</p>
			</div>
		</div>
		<h1 class='text-center heading'></h1>
		<hr>
		<h1 class="sub-heading text-center mt-4">PARTNERSHIP</h1><br>
		<div class="row">

			<div class="col-sm-4 col-6">
				<div class="member-team">
					<div class="img-container mx-auto d-block"><img src="images/p1.jpg"></div>
					<p class="text-center">
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> KRISHNAKUMAR M<br>
						<br>
						Partnership Head
					</p>
				</div>
			</div>
			<div class="col-sm-4 col-6">
				<div class="member-team">
					<div class="img-container mx-auto d-block"><img src="images/p2.jpeg"></div>
					<p class="text-center">
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> YOHANNES PETER<br>
						<br>
						Partnership Head
					</p>
				</div>
			</div>

			<div class="col-sm-4 col-6">
				<div class="member-team">
					<div class="img-container mx-auto d-block"><img src="images/p3.jpg"></div>
					<p class="text-center">
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> SAKSHI SINGH <br>
						<br>
						Partnership Head
					</p>
				</div>
			</div>
		</div>

		<h1 class="sub-heading text-center">FINANCE</h1><br>
		<div class="row">

			<div class="col-6">
				<div class="member-team">
					<div class="img-container mx-auto d-block"><img src="images/f1.jpg"></div>
					<p class="text-center">
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> JOEL K JOSE<br>
						<br>
						Finance Head
					</p>
				</div>
			</div>


			<div class="col-6">
				<div class="member-team">
					<div class="img-container mx-auto d-block"><img src="images/f2.jpeg"></div>
					<p class="text-center">
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> MAYURI PATIL<br>
						<br>
						Finance Head
					</p>
				</div>
			</div>
		</div>
		<div class="org">
			<h1 class="sub-heading text-center">OPERATIONS</h1><br>
			<div class="row">

				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/op1.jpg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> ABHIRAMI<br> Operations Head
						</p>
					</div>
				</div>


				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/op3.jpeg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> PRACHI THAKUR<br>
							Operations Head
						</p>
					</div>
				</div>



				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/op2.jpg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> ADITHYA NARAYAN<br>
							Operations Head
						</p>
					</div>

				</div>
				<!-- <div>
						<div class="row mobileClear"> -->

				<div class="col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/op4.jpg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> SATAKSHI SINHA<br>
							Operations Head
						</p>
					</div>
				</div>

				<div class="col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/op5.jpg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> YOGITA<br> Operations Head
						</p>
					</div>
				</div>
			</div>

			<!-- </div>
			</div> -->

			<br>

			<h1 class="sub-heading text-center">MARKETING</h1><br>
			<div class="row">

				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/m1.png"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> ABHISHEK DESWAL<br>
							Marketing Head
						</p>
					</div>
				</div>


				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/m3.jpg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> MAYANK MANKHAND<br>
							Marketing Head
						</p>
					</div>
				</div>

				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/m2.jpeg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> T.HEMA SAI SRI<br>
							Marketing Head
						</p>
					</div>

				</div>
			
				<div class="col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/m4.jpg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> NISHANT SINGH<br>
							Marketing Head
						</p>
					</div>
				</div>

				<div class="col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/m5.jpg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> PRASHANT SHARMA<br>
							Marketing Head
						</p>
					</div>
				</div>
			</div>

			<h1 class="sub-heading text-center">SPONSORSHIP</h1><br>
			<div class="row">
				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/s1.jpg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> RAHUL JAISWAL <br>
							Sponsorship Head
						</p>
					</div>
				</div>
				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/s2.jpeg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> SHIVANSH AGARWAL<br>

							Sponsorship Head
						</p>
					</div>
				</div>

				<div class="col-sm-4 col-6">
					<div class="member-team">
						<div class="img-container mx-auto d-block"><img src="images/s3.jpeg"></div>
						<p class="text-center">
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> SUJISH JANGRA <br>

							Sponsorship Head
						</p>
					</div>
				</div>
			</div>
			<h1 class="sub-heading text-center">CREATIVE</h1><br>
			<div class="row">
				<div class="col-12">


					<div class="img-container mx-auto dblock"><img src="images/c1.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> ADITYA KSHATRIYA
						<br>
						Creative Head
					</p>


				</div>
			</div>

			<hr>
			<h1 class="sub-heading text-center mt-4">ADVISORY BOARD</h1><br>
			<div class="row">
				<div class="col-sm-3 col-6">
					<div class="img-container mx-auto d-block"><img src="/images/advisoryboard/Himanshu verma.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Hemanshu Verma<br>
						Advisory Board</p>
				</div>
				<div class="col-sm-3 col-6">
					<div class="img-container mx-auto d-block"><img src="/images/advisoryboard/1.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Rahul Agarwal<br>
						Advisory Board</p>
				</div>
				<div class="col-sm-3 col-6">
					<div class="img-container mx-auto d-block"><img src="/images/advisoryboard/IMG_20180712_081905137 - SANCHIT JAIN 15BEC1247.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sanchit Jain<br>
						Advisory Board</p>
				</div>
				<div class="col-sm-3 col-6">
					<div class="img-container mx-auto d-block"><img src="/images/advisoryboard/IMG_20181107_130658__01__01.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Lolith Bellineni<br>
						Advisory Board</p>
				</div>
				<div class="col-sm-3 col-6">
					<div class="img-container mx-auto d-block"><img src="/images/advisoryboard/IMG_20181108_142451_344 - Rahul Sahu.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Rahul Sahu<br>
						Advisory Board</p>
				</div>
				<div class="col-sm-3 col-6">
					<div class="img-container mx-auto d-block"><img src="/images/advisoryboard/IMG_20181112_214641_175 - Waqaar Hasan.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Waqaar Hasan<br>
						Advisory Board</p>
				</div>
				<div class="col-sm-3 col-6">
					<div class="img-container mx-auto d-block"><img src="/images/advisoryboard/Screenshot_20180809-113754 - Archit Kumar.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Archit Kumar<br>
						Advisory Board</p>
				</div>
				<div class="col-sm-3 col-6">
					<div class="img-container mx-auto d-block"><img src="/images/advisoryboard/muktak - Muktak Pandya.jpg"></div>
					<p class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Muktak Pandya<br>
						Advisory Board</p>
				</div>
			</div>
		</div>

		<div class="mt-4 mb-4">
			<h1 class='sub-heading text-center'>ORGANIZING COMMITTEE</h1>
			<div class="group-img-container">
			<img src="/images/groupOC.jpg">
		</div>
		</div>
	</div>

	<script>
		if ($(window).width() < 739) {
			//Add your javascript for large screens here 
			$(".mobileClear").removeClass('row');
		} else {
			//Add your javascript for small screens here 
			$(".mobileClear").addClass('row');
		}
	</script>
</body>

</html>