<html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RENNAISANCE'19</title>


	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/navbar.css" rel="stylesheet">
	<link href="/css/partners.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<% include partials/navbar %>
	<div class="container mt-4">

		<h1 class='text-center heading'>ORGANIZING TEAM</h1>
		<hr>
		<h1 class="sub-heading text-center mt-4">PARTNERSHIP</h1><br>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-3">
				<div class="member-team">
					<span>
						<div class="img-container"><img src="images/p1.jpg"></div>
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp KRISHNAKUMAR M<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						CORE COMMITEE<br>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Partnership Head
					</span>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="member-team">
					<span>
						<div class="img-container"><img src="images/p2.jpeg"></div>
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp YOHANNES PETER<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						CORE COMMITEE<br>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Partnership Head
					</span>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="member-team">
					<span>
						<div class="img-container"><img src="images/p3.jpg"></div>
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp SAKSHI SINGH <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						CORE COMMITEE<br>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Partnership Head
					</span>
				</div>
			</div>
		</div><br><br><br>

		<h1 class="sub-heading text-center">FINANCE</h1><br>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-3">
				<div class="member-team">
					<span>
						<div class="img-container"><img src="images/f1.jpg"></div>
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp JOEL K JOSE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						CORE COMMITEE<br>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Finance Head
					</span>
				</div>
			</div>
			<div class="col-sm-1"></div>

			<div class="col-sm-3">
				<div class="member-team">
					<span>
						<div class="img-container"><img src="images/f2.jpeg"></div>
						<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp MAYURI PATIL<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						CORE COMMITEE<br>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Finance Head
					</span>
				</div>
			</div>
		</div><br><br><br>
		<div class="org"><br><br><br>
			<h1 class="sub-heading text-center">OPERATIONS</h1><br>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/op1.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp ABHIRAMI<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE
							COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Operations Head
						</span>
					</div>
				</div>
				<div class="col-sm-3"></div>

				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/op3.jpeg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp PRACHI THAKUR<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Operations Head
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-5">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/op2.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp ADITHYA NARAYAN<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Operations Head
						</span>
					</div>

				</div>
			</div>
			<br>
			<div class="row">

				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/op4.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp SATAKSHI SINHA<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>&nbsp&nbsp&&nbsp&nbsp&nbsp Operations Head
						</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/op5.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp YOGITA<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp CORE
							COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Operations Head
						</span>
					</div>
				</div>
			</div><br><br><br>
			<h1 class="sub-heading text-center">CREATIVE</h1><br>
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-5">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/c1.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp ADITYA KSHATRIYA<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							Creative Head
						</span>
					</div>

				</div>
			</div>
			<br><br><br>
			<h1 class="sub-heading text-center">MARKETING</h1><br>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/m1.png"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp ABHISHEK DESWAL<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Marketing Head
						</span>
					</div>
				</div>
				<div class="col-sm-3"></div>

				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/m3.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp MAYANK MANKHAND<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Marketing Head
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-5">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/m2.jpeg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp T.HEMA SAI SRI<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Marketing Head
						</span>
					</div>

				</div>
			</div>
			<div class="row">

				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/m4.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp NISHANT SINGH<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Marketing Head
						</span>
					</div>
				</div>
				<div class="col-sm-3"></div>
				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/m5.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp PRASHANT SHARMA<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Marketing Head
						</span>
					</div>
				</div>
			</div><br><br><br>
			<h1 class="sub-heading text-center">SPONSERSHIP</h1><br>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/s1.jpg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp RAHUL JAISWAL <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Sponsership Head
						</span>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/s2.jpeg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp SHIVANSH AGARWAL<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Sponsership Head
						</span>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="member-team">
						<span>
							<div class="img-container"><img src="images/s3.jpeg"></div>
							<br><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp SUJISH JANGRA <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							CORE COMMITEE<br>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Sponsership Head
						</span>
					</div>
				</div>
			</div><br><br><br>



		</div>
	</div>
</body>

</html>