<!DOCTYPE html>
<html>

<head>
	<title>Registration</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="google-site-verification" content="bcPE7I5x02j0ce8_qICY_EX6nOw5IE6bEpkWUbKuNE8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/scrollbar.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/navbar.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/reg_style.css" />
	<script src="/lib/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>

</head>

<body>
	<% include partials/navbar %>
	<div class="container reg-form">
		<h1 class="title">Registrations</h1>
		<!-- <div class="details">Register Here</div> -->
		<!-- <div class="details">Here</div> -->
		<!-- Chage action to '' ? -->
	<h1 class="text-success text-center">Registrations have been closed!</h1>
	</div>

	<script src="/js/reg_script.js"></script>
</body>

</html>