<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Renaissance | Stock Trading</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <script src="/lib/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>

  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/footer.css" />
</head>
<body>
  <% include partials/navbar %>
  <div class="container mt-4">
    <h1>Stock Trading | Registrations</h1>
    <table class="table table-hover table-stripped table-sm mt-4">
      <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Registration</td>
          <td>Whatsapp</td>
          <td>Contact</td>
        </tr>
      </thead>
      <tbody>
        <% stockRegistrations.forEach(function(registration)){ %>
          <tr>
            <td>registration.name</td>
            <td>registration.email</td>
            <td>registration.rno</td>
            <td>registration.whatsapp</td>
            <td>registration.contact</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  
  <% include partials/footer %>
</body>
</html>