<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<style>
			/* TODO: Remove inline css */
			.layout
			{
				margin-left:40%;
				padding-top:1%;
			}
			.form-control
			{
				width:30%;
			}
			h1
			{
				margin-left: 39%;
			}
		</style>
	</head>
	<body>
		<h1 class="text-primary">STOCK TRADING</h1>
		<div class="layout">
			<div>
				<div class="form-group">
				    <label for="email">Email Address:</label>
				    <input type="email" class="form-control" id="email" required="true">
			  	</div>
			  	<div class="form-group">
				    <label for="name">Name:</label>
				    <input type="text" class="form-control" id="name" required="true">
			  	</div>
			  	<div class="form-group">
				    <label for="regno">Registration Number:</label>
				    <input type="text" class="form-control" id="regno" required="true">
			  	</div>
			  	<div class="form-group">
				    <label for="wnumber">Whatsapp Number:</label>
				    <input type="text" class="form-control" id="wnumber" required="true">
			  	</div>
			  	<div class="form-group">
				    <label for="cnumber">Contact Number:</label>
				    <input type="text" class="form-control" id="cnumber" required="true">
			  	</div>
		  		<button type="button" onclick="submitResponse()" class="btn btn-primary">Submit</button>
		  	</div>
		</div>

		<script>
			function submitResponse(){
				$.ajax({
					url: "/",
					data: {
						
					}
				})
			}
		</script>
	</body>
</html>
