@import url('https://fonts.googleapis.com/css?family=Karla:700');
.aboutClass{
  scroll-snap-align: start;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/about1.jpg");
  // background: rgba(0,0,0,0.9);
  min-height: 90vh;
  
  .info-card{
    opacity: 1;
    position: relative;
    top:5vh;
    margin-bottom: 5vh;
    .card-logo{
      opacity: 1;
      background: #008C9E;
      min-height:15vh;
      // border-radius:50%;
      h1{
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        color:white;
        font-size: 2rem;
        text-align: center;
        display: block;
        font-family: 'Karla','Times New Roman', Times, serif;
        // Shadow
        text-shadow:  0px 5px 5px     rgba(0,0,0,0.2),
                      10px 10px 15px  rgba(0,0,0,0.1),
                      10px 10px 20px  rgba(0,0,0,0.1);
      }

    }
    
    .card-text{
      padding:10px;
      // background: rgba(255, 255, 255, 0.7);
      // color:rgba(0, 0, 0, 0.8);
      background: rgba(0,0,0,0.8);
      color: rgb(255, 255, 255);
    }
  }
}



