/* * {
    box-sizing: border-box;
  }
   */
  /* html,
  body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    
    overflow: hidden;
  } */
  
  .landing-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 50px;
    color: #fff;
    overflow: hidden;
    /* background: #333; */
  }
  
  .landing {
    position: relative;
    background-image: url('/images/showcase.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;

  }
  
  .landing landing-inner-text {
    font-size: 50px;
  }
  
  .landing landing-text {
    font-size: 20px;
  }
  
  .countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    margin: 5px;
  }
  
  .countdown div:first-child {
    background: #17a2b8;
  }
  
  .countdown span {
    display: block;
    font-size: 25px;
  }
  
  /* @media (max-width: 650px) {
    .landing img {
      width: 70%;
    }
  
    .landing landing-inner-text {
      font-size: 40px;
    }
  
    .countdown {
      font-size: 30px;
      flex-direction: column;
    }
  
    .countdown div {
      display: none;
    }
  
    .countdown div:first-child {
      display: block;
      width: 80%;
      padding: 10px;
    }
  }
  
  
  @media (max-height: 600px) {
    img {
      width: 20%;
    }
  
    landing-text {
      display: none;
    }
  }
  
  @media (max-height: 400px) {
     img {
      padding-bottom: 30px;
    }
    
    landing-inner-text {
      display: none;
    }
  } */