@import url('https://fonts.googleapis.com/css?family=Karla');
.footer{
  scroll-snap-align: start;
  background-color: rgb(50, 50, 50);
  color: white;
  min-height: 20vh;
  width: 90vw;
  margin: auto;
  padding-top:10px;
  padding-bottom: 10px;
  font-family: 'Karla','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  &>*{
    color:white;
    margin:auto;
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .links>*{
    display: inline-block;
    font-size: 1.5rem;
    color:white;
    &:hover{
      color:rgba(255, 255, 255, 0.5);
    }
  }
  p{
    text-align: center;
    font-size: 0.7rem;

  }
}