


// =========
// Scrollbar
// =========
body, html{
  height: 100vh;
  overflow-x:hidden;
}

.home{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/mainBack1.png");
  min-height: 100vh;
  .container{
    height: 100vh;
    // border:5px solid red;
    .heading{
      // To get the div to center
      position: relative;
      top:50%;
      transform: translateY(-50%);
      text-align: center;
      // border: 2px solid blue;
      border-bottom: 2px dotted blue;
      width:30%;
      margin:auto;
      h1{
        text-shadow:  0px 5px 5px rgba(0,0,255,0.2),
                      10px 10px 15px rgba(0,0,255,0.1),
                      10px 10px 20px rgba(0,0,255,0.1);
      }
      *{
        padding: 3px;
        margin:0px;
      }
    }
  }
}

.seperation{
  width: 100vw;
  height: 2vh;
  background-color: white;
}

.aboutClass{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/featuresImage.jpg");
  min-height: 70vh;
  .info-card{
    position: relative;
    top:5vh;
    margin-bottom: 5vh;
    .card-logo{
      background: rgba(100, 100, 200, 0.7);
      // border-radius:50%;
      h1{
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        color:rgba(255,255,255,1);
        font-size: 2rem;
        text-align: center;
        display: block;

        // Shadow
        text-shadow:  0px 5px 5px     rgba(0,0,0,0.2),
                      10px 10px 15px  rgba(0,0,0,0.1),
                      10px 10px 20px  rgba(0,0,0,0.1);
      }

    }
    
    .card-text{
      padding:10px;
      background: rgba(255, 255, 255, 0.7);
      color:rgba(0, 0, 0, 0.6);
    }
  }
}



.footer{
  background-color: rgba(200, 200, 200, 0.8);
  min-height: 20vh;
  width: 90vw;
  margin: auto;
  padding-top:10px;
  padding-bottom: 10px;
  &>*{
    margin:auto;
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .links>*{
    display: inline-block;
    font-size: 1.5rem;
    color:black;
    &:hover{
      color:rgba(0, 0, 0, 0.5);
    }
  }
  p{
    text-align: center;
    font-size: 0.7rem;

  }
}