// hex #343838 rgb 52,56,56 cmyk 7,0,0,78

// hex #008C9E
// hex #00B4CC
// hex #00DFFC



// .bg-custom{
//   background-color: rgba(255, 255, 255, 0.1);
// }

// =========
// Scrollbar
// =========
@import url('https://fonts.googleapis.com/css?family=Karla');
.border-alter-round {
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.border-alter-round-alt {
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
}

body,
html {
  padding-top:30px;
<<<<<<< HEAD
  max-width: 100%;
=======
  height: 100vh;
>>>>>>> eb4a79579c5444d95b6c33cb2df3ca1ccadaf287
  overflow-x: hidden;
  font-family: 'Karla','Courier New', Courier, monospace;  // background: #343838;
}

.navbar {
  scroll-snap-align: start;
}

.home {
  height: 90vh;

  .heading {
    .carousel-inner {
      .carousel-item {
        height: 90vh;
        background-size: cover;

        .carousel-img {
          border: 5px solid red;
          width: 20vw;
        }

        .mainLogo {

          // border:1px solid red;
          .logoImage {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            // border:1px solid blue;
            width: 20vw;
          }
        }
      }
    }
  }

}

.seperation {
  width: 100vw;
  height: 2vh;
  // background-color: #343838;
  background-color: white;
}