// hex #343838 rgb 52,56,56 cmyk 7,0,0,78
// // hex #3005F6B
// hex #008C9E
// hex #00B4CC
// hex #00DFFC



// .bg-custom{
//   background-color: rgba(255, 255, 255, 0.1);
// }

// =========
// Scrollbar
// =========

.border-alter-round{
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.border-alter-round-alt{
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
}

body, html{
  height: 100vh;
  overflow-x:hidden;
  // background: #343838;
  // overflow-y: scroll;
  // scroll-snap-type: y mandatory;
}

.navbar{
  scroll-snap-align: start;
}
.home{
    .heading{
      
      .carousel-item{
        height: 45vw;
        .mainLogo{
          // border:1px solid red;
          img{
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            // border:1px solid blue;
            width: 20vw;
          }
        }
      }
    }
  
}

.seperation{
  width: 100vw;
  height: 2vh;
  background-color: #343838;
}
