.mentorContainer {
  // height: 300vh;
  // display: table;
  overflow:auto; 
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .clearfix:before,
  .clearfix:after {
    // display: table;
    content: '';
  }

  .clearfix:after {
    clear: both;
  }

  section {
    padding: 1em;
    text-align: center;
  }


  .grid {
    // display: table-row;
    position: relative;
    /* clear: both; */
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 90vw;
    list-style: none;
    text-align: center;
  }

  /* Common style */
  .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-width: 20vw;
    min-width: 20vw;
    max-height: 20vw;
    min-height: 20vw;
    /* max-width: 480px; */
    /* width: 48%; */
    /* height: auto; */
    background: #3085a3;
    text-align: center;
    cursor: pointer;
  }

  .grid figure .mentor-image {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    // object-fit: cover;
  }

  .grid figure figcaption {
    padding: 1em;
    text-transform: uppercase;
    /* font-size: 1.25em; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .grid figure .figcaption-text {
    position: relative;
    top: 80%;
  }

  .grid figure figcaption::before,
  .grid figure figcaption::after {
    pointer-events: none;
  }

  .grid figure figcaption,
  .grid figure figcaption>a {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */

  .grid figure .mentor-name {
    /* word-spacing: -0.15em; */
    font-weight: 300;
    color: white;
    font-size:1.5em;
    text-shadow: 5px 4px 10px black,
      -5px -4px 20px black,
      15px 20px 40px black;
  }

  .grid figure .mentor-name span {
    font-weight: 800;
  }

  .grid figure .mentor-name,
  .grid figure p {
    color:white;
    margin: 0;
  }

  .grid figure p {
    letter-spacing: 1px;
    // font-size: 68.5%;
  }

  figure.effect-apollo {
    background: #3498db;
    width: 10%;
    height: 30%;

  }



  figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  }

  figure.effect-apollo p {
    position: absolute;
    /* right: -40px; */
    bottom: 0;
    font-size: 0.9em;
    font-weight: 600;
    /* top:-500%; */
    margin: 0;
    padding: 0 5px;
    min-width: 100%;
    border-right: 4px solid #fff;
    text-shadow: 5px 4px 10px black,
      -5px -4px 20px black,
      15px 20px 40px black;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

  figure.effect-apollo .mentor-name {
    text-align: left;
  }

  figure.effect-apollo .mentor-image {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);

  }

  figure.effect-apollo:hover .mentor-image {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  }

  figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  figure.effect-apollo:hover .mentor-name {
    opacity: 0;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  figure.effect-apollo {
    background: #3498db;
  }


  figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  }
}


@media screen and (max-width: 600px) {
  .grid figure {
    margin: 10px 1%;
    max-width: 50vw;
    min-width: 50vw;
    max-height: 50vw;
    min-height: 50vw;
    cursor: pointer;
  }
}