body{
    background: -webkit-linear-gradient(left,#3931af,#00c6ff);
    margin-top:30px;
}
.emp-profile{
    padding: 3%;

    width: 90vw;
    margin:auto;
    margin-top: 4%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}


.profile-img{
    text-align: center;
}

.profile-img img{
    width: 40%;
    height: auto;
}

.profile-img .file{
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    /* background: #212529b8; */
}

.profile-img .file input{
    position: relative;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5{
    color: #333;
}

.profile-head h6{
    color: #0062cc;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    transition: 0.2s;
}

.profile-edit-btn:hover{
    opacity: 0.9;
    background-color: #005f6b;
    color: white;
    transition: 0.2s;
    
}

.profile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.profile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs{
    margin-bottom: 5%;
}

.profile-head .nav-tab .nav-link{
    font-weight: 600;
    border: none;
}

.profile-head .nav-tab .nav-link.active{
    border: none;
    border-bottom: 2px solid #0062cc; 
}

.profile-work{
    padding: 14%;
    margin-top: -15%;
    
}

.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;

}

.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul{
    list-style: none;
}

.profile-tab label{
    font-weight: 600;
}

.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

#myTab .nav-item{
    font-size:1.2rem;
}

.tab-content{
    margin-top: 2%;
}

#registerButton{
    font-size:1.2rem;
}

.competition-name{
    color:#343838;
    border-bottom: 1px solid #00b4cc;
    width: 40%;
}

@media(max-width: 575.98px){
    .emp-profile{
        margin-top:300px;
    }
    .competition-name{
        width: 80%;
    }
    .tab-content{
        padding: 5%;
    }
}