

.statsClass{
  height: 20vh;
  .row{
    height: 20vh;
    padding-left:10px;
    padding-right:10px;
    .section{
      width: 33%;
      text-align: center;
      transform: skew(-9deg);
      height: 20vh;
      // position: relative;
      .container{
        position: relative;
        top:50%;
        transform: translateY(-50%);
        p{
          font-size: 20px;
          font-weight: 700;
          color:white;
          span{
            font-size:16px;
            font-weight: 400;
            
          }
        }
      }

    }
    .firstSection{
      background-color: #005f6b;
    }
    .secondSection{
      background-color: #008c9e;
    }
    .thirdSection{
      background-color: #00b4cc;
    }
  }

}


@media only screen and (max-width: 600px) {

  .statsClass{
    height: 10vh;
    // margin-bottom: 10px;
    .row{
      height: inherit;
      padding-left:10px;
      padding-right:10px;
      .section{
        // position: relative;
        height: inherit;
        .container{
          height: inherit;
          position: relative;
          top:50%;
          transform: translateY(-50%);
          p{
            padding-top:10px;
            span{
              position: absolute;
              left:50%;
              transform: translateX(-50%);
            }
          }
        }
  
      }
    }
  
  }
  
}