* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-style: Italic;
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

/* 
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px;
}

/* Create four equal columns that sits next to each other */
/* .column {
  flex: 25%;
  max-width: 25%;
  padding: 0px 20px;
} */

.column img {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  vertical-align: middle;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 46%;
    max-width: 46%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.sep {
  height: 20px;
}


.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.hvrbox img {
  max-width: 100%;
  border-radius: 5px;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 93.5%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox:hover .hvrbox-layer_bottom,
.hvrbox.active .hvrbox-layer_bottom {
  opacity: 0;
  transition: all 0.4s ease-in-out 0s
}

.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #b1b7bb;
}

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179);
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.btn1 {
  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn1:hover {
  background-color: #7FDBFF;
  color: #484f54;
}

.btn2 {
  position: absolute;
  top: 85%;
  left: 75%;
  width: 120px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn2:hover {
  background-color: #7FDBFF;
  color: #484f54;
}

.modal-header {
  background-image: linear-gradient(#7FDBFF, white);
}

.modal-footer {
  background-image: linear-gradient(white, #7FDBFF);
}

.card-columns {
  /* @include media-breakpoint-only(lg) { */
    column-count: 4;
    width:75vw;
    margin-left:auto;
    margin-right:auto;
  /* } */
  /* @include media-breakpoint-only(xl) { */
    /* column-count: 5; */
  /* } */
} 