<!DOCTYPE html>
<html>
<title>Renaissance</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif
  }

  .w3-main {
    background-image: linear-gradient(rgba(255, 255, 255, .33), rgba(255, 255, 255, .33)), url("https://cdn.pixabay.com/photo/2015/12/08/00/50/aerial-view-1082087_960_720.jpg");
    min-height: 500px;
    height-100%;
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .w3-sidebar {
    background-image: url("https://wallpaper-house.com/data/out/9/wallpaper2you_324867.jpg");
    min-height: 500px;
    height: 100% background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <img src="avatar_g2.jpg" alt="Logo" style="width:85%;" class="w3-round w3-hover-opacity"><br><br>
      <h4><b>Renaissance</b></h4>
      <p class="w3-text-black">Designing in Progress</p>
    </div>
    <div class="w3-bar-block">
      <a href="#companies" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-building -large fa-fw w3-margin-right"></i>COMPANIES</a>
      <a href="#students" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>STUDENTS</a>
      <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-info-circle fa-fw w3-margin-right"></i>ABOUT</a>
      <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
    </div>
    <div class="w3-panel w3-large">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="companies">
      <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
      <div class="w3-container">
        <h1><b>COMPANIES</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
          <span class="w3-margin-right">Filter:</span>
          <button class="w3-button w3-black">ALL</button>
          <button class="w3-button w3-white"><i class="fa fa-list w3-margin-right"></i>Criteria 1</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-list w3-margin-right"></i>Criteria 2</button>
          <button class="w3-button w3-white w3-hide-small"><i class="fa fa-list w3-margin-right"></i>Criteria 3</button>
        </div>
      </div>
    </header>

    <!-- First Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity ">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
      <div class="w3-third w3-container">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
      <div class="w3-third w3-container">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
    </div>

    <!-- Third Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity ">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
      <div class="w3-third w3-container">
        <img src="company_logo.png" alt="Company Logo" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b>Company Name</b></p>
          <p>Company Info</p>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>



    <!-- Contact Section -->
    <div class="w3-container w3-padding-large w3-grey">
      <h4 id="contact"><b>Contact Us</b></h4>
      <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
        <div class="w3-third w3-dark-grey">
          <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
          <p>email@email.com</p>
        </div>
        <div class="w3-third w3-teal">
          <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
          <p>VIT Chennai</p>
        </div>
        <div class="w3-third w3-dark-grey">
          <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
          <p>Contact Number</p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-dark-grey">
      <div class="w3-row-padding">
        <h6>Footer</h6>

      </div>
    </footer>


    <!-- End page content -->
  </div>

  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
  </script>

</body>

</html>